{% extends 'base.html' %} {% block content %}
<main id="main">
	 <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume" >
        
        <div class="container">
  
          <div class="section-title">
            <h2>Resume</h2>
            {% if background_info %}
            <p>{{background_info.description}}</p>
            {% endif %}
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Summary</h3>
              <div class="resume-item pb-0">
                {% if person_info %}
                <h4>{{person_info.user.first_name}} {{person_info.user.last_name}}</h4>
                {% if summary %}
                <p><em>{{summary.description}}</em></p>
                {% endif %}
                <p>
                <ul>
                  <li>{{person_info.city}}, {{person_info.state}}, {{person_info.country}}</li>
                  <li>{{person_info.phone}}</li>
                  <li>{{person_info.user.email}}</li>
                </ul>
                </p>
                {% endif %}
              </div>
              {% if educations %}
              <h3 class="resume-title">Education</h3>
              {% for education in educations %}
              <div class="resume-item">
                <h4>{{education.title}}</h4>
                <h5>{{education.start_date}} - {{education.end_date}}</h5>
                <p><em>{{education.institute_name}}</em></p>
                <p>{{education.description}}</p>
              </div>
              {% endfor %}
        
              {% endif %}
            </div>

            <!-- WORK EXPERIENCES -->
            {% if experiences %}
            
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              {% for experience in experiences %}
              <div class="resume-item">
                <h4>{{experience.title}}</h4>
                <h5>{{experience.start_date}} - {{experience.end_date}}</h5>
                <p>
                {{experience.description}}
                </p>
              </div>
              {% endfor %}
            </div>
            
            {% endif %}
          </div>
  
        </div>
      </section><!-- End Resume Section -->
</main>
<!-- End #main -->

{% endblock %}
