{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<!-- video -->
		<link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
			rel="stylesheet"
		/>

		<!-- Vendor CSS Files -->
		<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
		<link
			href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'vendor/boxicons/css/boxicons.min.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'vendor/swiper/swiper-bundle.min.css' %}"
			rel="stylesheet"
		/>
		<!-- <base href="/" /> -->
		<!-- Template Main CSS File -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		<!-- end index -->
	</head>
	<body>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<!-- Header -->
		{% include 'partials/_header.html' %} {% block content %} {% endblock %}
		<!-- Footer -->
		{% include 'partials/_footer.html' %}
		<!-- index -->
		<!-- Vendor JS Files -->

		<!-- alert -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- <link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			rel="stylesheet"
		/> -->

		<!-- alert -->
		<script src="{% static 'vendor/aos/aos.js'% }"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'% }"></script>
		<script src="{% static 'vendor/glightbox/js/glightbox.min.js'% }"></script>
		<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js'% }"></script>
		<script src="{% static 'vendor/php-email-form/validate.js'% }"></script>
		<script src="{% static 'vendor/purecounter/purecounter.js'% }"></script>
		<script src="{% static 'vendor/swiper/swiper-bundle.min.js'% }"></script>
		<script src="{% static 'vendor/waypoints/noframework.waypoints.js'% }"></script>

		<!-- Template Main JS File -->
		<script src="{% static 'js/main.js' %}"></script>
		<!-- video -->
		<script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>

		<!-- end index -->
	</body>
</html>
